html {
  background-image: url(./images/tileburnedin.jpg);
  background-repeat: none;
  background-size: cover;
}
.holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
